<h1>Результаты вычислений</h1>

<p>
  <strong>Введено: </strong>
  <%= @sequence.values %>
</p>

  <%== @show_result %>
<br>

<%= link_to 'Домой', root_path %> |
<%= link_to 'Посмотреть все поледовательности', sequences_path %>
